[submodule "FreeTypeWrapper/External/freetype2"]
	path = FreeTypeWrapper/External/freetype2
	url = https://git.sv.nongnu.org/r/freetype/freetype2.git
[submodule "FreeTypeWrapper/External/LLUtils"]
	path = FreeTypeWrapper/External/LLUtils
	url = https://github.com/TheNicker/LLUtils.git
